<div class="task">

  <div id="taskName">
    <%= task.name %>
  </div>

  <div id="taskDescription">
    <%= task.description %>
  </div>

  <div id="taskDescription">
    Skapad: <%= new Date(task.created) %>
  </div>

  <div id="taskId">
    Id: <%= task.id %>
  </div>

  <div id="taskDone">
    Klar: <%= task.done %>
  </div>

  <a id="editButton" href="#edit/<%= task.id %>" class="btn">Redigera</a>

  <% if (!task.done) {
   print("<button id='doneButton' class='btn'>Klar</button>");
 }
else {
  print("<button id='doneButton' class='btn'>Ej klar</button>");
} %>

</div>